/* General-section */
*{
    margin:0;
    padding: 0;
}


/* fonts */

@font-face {
    font-family:'GT Super Display Light';
    src: url(assets/fonts/GT\ Super\ Display\ Light.ttf);
    font-family: 'Mainlux-Light';
    src: url(assets/fonts/Mainlux-Light.otf);
}


.top-main{
    background-image: url(assets/Layer\ 1.png);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 50px;

}

/* header-section */
.header-section{
  
    border-bottom: 0.10px solid rgba(255, 255, 255, 0.274);
}
.logo img{
    padding-bottom: 10px;
}

.menu a{

    font-family:'GT Super Display Light'; 
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 16px;
}
.menu img{
    padding-left: 35px;
}
.share{
    font-family: 'Mainlux-Light';
    border-left: 0.10px solid rgba(255, 255, 255, 0.274);;
    
}


.share-icon{
    
    margin-right:45px;
}


/* scroll-header */
#navbar-header{
    background-color: #232d54f3;
    position: fixed;
    z-index:1 ;
    top: -140px;
    width:100vw;
    display: block;
    transition: top 0.3s;
    
    
}


/* hero-section */
.inner-text{
    margin-top: 30%;
}
.yellow-text{
    
    font-family: 'Mainlux-Light';
    color: #fed31c;
}
.hero-txt{
    font-family: 'Mainlux-Light';
    font-size: 70px;
    color: #fff;
}
.hero-sub{
    font-family: 'Mainlux-Light';
    font-size: 16px;
    color: #fff;
}


/* second-section */
.text-second{
    margin-top: 140px;
}
.text-second .main-txt{
    font-family: 'GT Super Display Light';
    color: #292e81;
}
.text-second h4{
    font-family:'Mainlux-Light';
    color: #d9b620;
    font-size: 18px;
}
.text-second p{
    max-width: 420px;
    font-family:'Mainlux-Light';
    color: #393939;
    font-size: 14px;
}
.bluerec{
    width: 100%;
    height: 100%;
}
.plane-image{
    margin-top: -310px;
    width: 100%;
}


/* third-section */

.third-section{
    background-color: #faf7ea;
    background-image: url(assets/Vector\ Smart\ Object.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 50px;
}
.head-text p{
    padding-top: 180px;
    font-size: 18px;
    color: #d9b620;
    font-family: 'Mainlux-Light';
}

.head-text h3{
    color: #292e81;
    font-family: 'GT Super Display Light';
}
.text-third-inner p{
    color: #525252;
    font-size: 14px;
}
.btn-send{
    border: none;
    background-color: #26296a;
    color:#fff;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* managed-fleet */
.img-manged{
    padding-top: 70px;
}
.img-manged img{
    width: 100%;
    height: 40%;
}
.managed-fleet .inner{
    margin-top: 100px;
  
}
.inner h1{
    font-family: 'GT Super Display Light';
    color: #292e81;
}
.inner p{
    color: #393939;
}
.explore-txt p{
    color: #c6a720;
    margin-top: 50px;
}


/* Service-section */
.service-section{
    margin-top: 80px;
    padding-top: 40px;
    background-color: #faf7ea;
    padding-bottom: 80px;
}
.head-service{
    font-family: 'GT Super Display Light';
    color: #292e81;
}
.sub-service{
    font-family: 'Mainlux-Light';
    color: #d9b620; 

}
.service-image img{
    width: 90%;
    height: 95%;
}

 /* separate-txt-line */
 .txt-line{
    margin-top: 100px;
    padding-bottom: 10px;
 }
 .txt-line p{

    font-family: 'Mainlux-Light';
    font-size: 14px;
    color: #c3bda1;
 }
 .line{
    width: 100%;
    height: 1px;
    background-color: #c3bda1;
 }
 


 /* explore-section */
 .explore-section{
    background-image: url(assets/back.PNG);
    background-size: cover;
    background-repeat: no-repeat;
   
 }
 .explore-section .row{
    padding-top: 200px;
    padding-bottom: 50px;
 }

 .explore-section h1{
    font-family: 'GT Super Display Light';
    color: #fff;
 }
 .explore-section p{
    font-family: 'Mainlux-Light';
    color: #fff;
    font-size: 14px;
 }

 .explore-section h6{
    font-family: 'Mainlux-Light';
    color: #d9b620;
    font-size: 14px;
 }


 /* latest-news-section */
 .news-section{
    padding-top: 70px;
    padding-bottom: 70px;
 }
.news-txt h1{
    font-family: 'GT Super Display Light';
    color: #292e81;
    font-size: 30px;

}
.news-txt p{
    font-family:  'Mainlux-Light';
    color: #d9b620;
    font-size: 14px;

}
.card-title{
    font-family: 'GT Super Display Light';
    font-size: 18px;
    color: #292e81;
}
.card-text{
    font-family:  'Mainlux-Light';
    font-size: 12px;
    color: #c6a720;
}
 

/* footer-section */

.footer-section{
    background-color: #26296a;
}
.middle-foot p{
    font-family: 'Mainlux-Light';
    color: #fff;
    font-size: 12px;
}
.social-media img{
padding-left: 30px;
}
.foot-txt{
    padding-top: 40px;
    padding-bottom: 30px;
    font-family: 'Mainlux-Light';
    color: #fff;
    font-size: 12px;
}


/* mobile-responsive */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .menu{
        display: none;
    }
    .share{
        display: none;
    }
    .hero-txt{
        font-size: smaller;
    }

    .second-section img{
        display: none;
    }
    .bar-mob{
        display: inline-block;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .menu{
        display: none;
    }
    .share{
        display: none;
    }
    .hero-txt{
        font-size: smaller;
    }
    .second-section img{
        display: none;
    }
    .bar-mob{
        display: inline-block;
        padding-right: 100px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .menu{
        display: inline-block;
    }
    .share{
        display: inline-block;
        font-family: 'Mainlux-Light';
    }
    .hero-txt{
        font-size: 70px;
    }
    .second-section img{
       display: inline-block;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .menu{
        display: inline-block;
    }
    .share{
        display: inline-block;
        font-family: 'Mainlux-Light';
    }
    .hero-txt{
        font-size: 70px;
    }
    .second-section img{
       display: inline-block;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .menu{
        display: inline-block;
    }
    .share{
        display: inline-block;
    }
    .hero-txt{
        font-size: 70px;
    }
    .second-section img{
       display: inline-block;
    }
}